<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/5.1.0/css/bootstrap.min.css">
    <script type="text/javascript" src="/webjars/jquery/3.4.1/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/5.1.0/js/bootstrap.min.js"></script>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Features</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Pricing</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled">Disabled</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="container">
    <h1>Facturas</h1>
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
        nueva
    </button>
    <table class="table" id="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">estatus</th>
            <th scope="col">fecha</th>
            <th scope="col">cliente</th>
            <th scope="col">usuario</th>
            <th scope="col">funciones</th>
        </tr>
        </thead>
        <tbody>
        </tbody>
    </table>

    <!-- Button trigger modal -->


    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">


                    <div class="form-floating">
                        <select class="form-select" id="idusuario" aria-label="Floating label select example">
                            <option selected>selecciona uno</option>
                        </select>
                        <label for="idusuario">Usuario</label>
                    </div>
                    <div class="form-floating">
                    <select class="form-select" id="idCliente" aria-label="Floating label select example">
                        <option selected>selecciona uno</option>
                    </select>
                    <label for="idCliente">Cliente</label>
                </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">agregar</button>
                </div>
            </div>
        </div>
    </div>


    <script>
        var server="http://localhost:8081/";

        $(document).ready(
            function(){
            getusuario()
            getFacturas()
            getCLientes()
            });

        function getFacturas(){
            $.ajax({
                type:"GET",
                url:server+"factura/",
                dataType:"json",
                success:function (data) {
                    $.each(data,function (i,item) {
                        var row="<tr>"+
                            "<td>"+item.id+"</td>"+
                            "<td>"+item.estatus+"</td>"+
                            "<td>"+item.fecha+"</td>"+
                            "<td>"+item.cliente+"</td>"+
                            "<td>"+item.usuario+"</td>"+
                            "<td><button  class='btn btn-danger' onclick='deleteFactura("+item.id+")'>borrar</button></td>"+

                            "</tr>"
                        $("#table > tbody").append(row);
                    });},});
        }
        function deleteFactura(id){
            $.ajax({
                type:"DELETE",
                url:server+"factura/"+id,
                dataType:"json",
                success:function (data) {
                    console.log(data);
                    if (data){
                        getFacturas()
                    }else{
                        window.alert("no se puede eliminar");
                    }
                },});
        }
        function getCLientes(){
        $.ajax({
                type:"GET",
                url:server+"cliente/",
                dataType:"json",
                success:function (data) {
                    $.each(data,function (i,item) {
                    var row="<option value="+item.id+">"+item.nombre+"</option>"

                        $("#idCliente").append(row);
                    });},});

        }
        function getusuario(){
        $.ajax({
                type:"GET",
                url:server+"usuario/",
                dataType:"json",
                success:function (data) {
                    $.each(data,function (i,item) {
                        var row="<option value="+item.id+">"+item.nombre+"</option>"
                        $("#idusuario").append(row);
                    });},});

        }
        function addFactura(){


            $.ajax({
                type:"POST",
                url:server+"factura/"+id,
                dataType:"json",

                success:function (data) {
                    console.log(data);

                },});
        }


    </script>


</div>
</body>
</html>